Ejercicios/dtd_externa/dtd/curriculumVitae.dtd

<!-- curriculumVitae.dtd grupo05 -->
<!ELEMENT curriculumVitae (contenido)>
<!ELEMENT contenido (left_Side,right_Side)>
<!ELEMENT left_Side (fotografia, formacionesAcademicas, contacto)>
<!ELEMENT right_Side (datosPersonales, experienciaLaborales, competencias, referencias)>

<!ELEMENT fotografia (foto)>
<!ELEMENT foto (#PCDATA)>

<!ELEMENT datosPersonales(nombre+, apellido+, edad, dui, nit, isss, afp)>
<!ELEMENT nombre (#PCDATA) #REQUIRIED>
<!ATTLIST nombre tipo (primero|segundo) #REQUIRIED>
<!ELEMENT apellido (#PCDATA) #REQUIRED>
<!ATTLIST apellido tipo (primero|segundo) #REQUIRIED>
<!ELEMENT edad (#PCDATA) #REQUIRED>
<!ELEMENT dui (#PCDATA) #REQUIRED>
<!ELEMENT nit (#PCDATA) #REQUIRED>
<!ELEMENT isss (#PCDATA) #REQUIRED>
<!ELEMENT afp (#PCDATA) #REQUIRED>

<!ELEMENT contacto (celular+, telefono?, correo?)>
<!ELEMENT celular (#PCDATA) #REQUIRED>
<!ELEMENT telefono (#PCDATA) #IMPLIED>
<!ELEMENT correo (#PCDATA) #IMPLIED>

<!ELEMENT formacionesAcademicas (formacionAcademica)+ >
<!ELEMENT formacionAcademica (institucionEducativa, tituloAcademico, peridoE)>
<!ATTLIST formacionAcademica id CDATA #REQUIRED>
<!ELEMENT institucionEducativa (#PCDATA) #REQUIRED>
<!ELEMENT tituloAcademico (#PCDATA) #REQUIRED>
<!ELEMENT periodoE (#PCDATA) #REQUIRED>

<!ELEMENT experienciaLaborales (experenciaLaboral)+>
<!ELEMENT experienciaLaboral (institucionLaboral, cargo+, periodo)>
<!ATTLIST experienciaLaboral id CDATA #REQUIRED>
<!ELEMENT institucionLaboral (#PCDATA) #REQUIRED>
<!ELEMENT cargo (#PCDATA) #REQUIRED>
<!ELEMENT periodo (#PCDATA) #REQUIRED>

<!ELEMENT competencias (competencia)+>
<!ATTLIST competencia id CDATA #REQUIRED>
<!ELEMENT competencia (tituloC, descripcion)>
<!ELEMENT tituloC (#PCDATA) #REQUIRED>
<!ELEMENT descripcion (#PCDATA) #REQUIRED>

<!ELEMENT referencias (referecnia)+>
<!ELEMENT referecnia (nombreR+, apellidoR+, institucionLaboralR, telefonoR+)>
<!ATTLIST referencia id CDATA #REQUIRED>
<!ELEMENT nombreR (#PCDATA) #REQUIRIED>
<!ATTLIST nombreR tipo (primero|segundo) #REQUIRIED>
<!ELEMENT apellidoR (#PCDATA) #REQUIRED>
<!ATTLIST apellidoR tipo (primero|segundo) #REQUIRIED>
<!ELEMENT institucionLaboralR (#PCDATA) #REQUIRED>
<!ELEMENT telefonoR (#PCDATA) #REQUIRED>
