Ejercicios/dtd_externa/dtd/curriculumVitae.dtd

<!-- curriculumVitae.dtd grupo05 -->
<!ELEMENT curriculumVitae (datosPersonales, contacto, formacionesAcademicas, experienciaLaborales, competencias, referencias)>

<!ELEMENT datosPersonales (nombre+, apellido+, edad, dui, nit, isss, afp)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre tipo (primero|segundo) #REQUIRED>
<!ELEMENT apellido (#PCDATA)>
<!ATTLIST apellido tipo (primero|segundo) #REQUIRED>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT dui (#PCDATA)>
<!ELEMENT nit (#PCDATA)>
<!ELEMENT isss (#PCDATA)>
<!ELEMENT afp (#PCDATA)>

<!ELEMENT contacto (celular+, telefono?, correo?)>
<!ELEMENT celular (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo (#PCDATA)>

<!ELEMENT formacionesAcademicas (formacionAcademica)+ >
<!ELEMENT formacionAcademica (institucionEducativa, tituloUniversitario, periodoE)>
<!ATTLIST formacionAcademica id CDATA #REQUIRED>
<!ELEMENT institucionEducativa (#PCDATA)>
<!ELEMENT titulo (#PCDATA) >
<!ELEMENT periodoE (#PCDATA) >

<!ELEMENT experienciaLaborales (experenciaLaboral)+>
<!ELEMENT experienciaLaboral (institucionLaboral, cargo+, periodo)>
<!ATTLIST experienciaLaboral id CDATA #REQUIRED>
<!ELEMENT institucionLaboral (#PCDATA)>
<!ELEMENT cargo (#PCDATA)>
<!ELEMENT periodo (#PCDATA)>

<!ELEMENT competencias (competencia)+>
<!ATTLIST competencia id CDATA #REQUIRED>
<!ELEMENT competencia (titulo, descripcion)>
<!ELEMENT tituloUniversitario (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>

<!ELEMENT referencias (referencia)+>
<!ELEMENT referencia (nombreR+, apellidoR+, institucionLaboralR, telefonoR+)>
<!ATTLIST referencia id CDATA #REQUIRED>
<!ELEMENT nombreR (#PCDATA)>
<!ATTLIST nombreR tipo (primero|segundo) #REQUIRED>
<!ELEMENT apellidoR (#PCDATA)>
<!ATTLIST apellidoR tipo (primero|segundo) #REQUIRED>
<!ELEMENT institucionLaboralR (#PCDATA) >
<!ELEMENT telefonoR (#PCDATA) >
